<div class="corner-tag-page">
    <h2>Corner Tag Directive</h2>
    <p class="introduction">Usually used as a corner mark of the corner.</p>

    <h4>Example</h4>
    <div class="item-list">
        <div  ng-repeat="item in itemList">
            <div class="item-block" ng-class="$index % 4 == 0?'first-col':''">
                <div class="item-picture"><img ng-src="{{item.loc}}"></div>
                <div class="item-name" ng-bind="item.name"></div>
                <div class="item-price" ng-bind="item.price | currency"></div>
                <div cdl-corner-tag tag-text="New" tag-color="#22cc99"></div>
            </div>
        </div>
    </div>

    <h4>Key Code</h4>
    <pre>
        <code>
            .side-corner-tag{
                float: right;
                width: 110px;
                height: 45px;
                position: absolute;
                bottom: 0;
                right: -45px;
                /*use parent font-size*/
                /*font-size: 16px;*/
                text-align: center;
                transform: rotate(-45deg);
                -webkit-transform: rotate(-45deg);
                -moz-transform: rotate(-45deg);
                -o-transform: rotate(-45deg);
                -ms-transform: rotate(-45deg);
                color: #fff;
                line-height: 45px;
            }
        </code>
    </pre>
</div>