/* item list style start */
.corner-tag.item-list{
    width: 100%;
    margin: 8px 0;
    height: auto;
    overflow:hidden
}

.corner-tag .item-block{
    width: 22%;
    height: 220px;
    margin-left: 4%;
    margin-bottom: 20px;
    padding-left: 10px;
    float: left;
    overflow: hidden;
    display: inline-block;
    position: relative;
    text-align: center;
    background-color: #fff;
    border: 1px solid #ededed;
}

.corner-tag .item-block.first-col{
    margin-left: 0;
}

.corner-tag .item-picture{
    height: 65%;
    position: relative;
}

.corner-tag .item-picture img{
    margin: auto;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 60%;
    height: 80%;
}

.corner-tag .item-name{
    font-size: 18px;
    height: 20%;
}

.corner-tag .item-price{
    font-size: 16px;
    height: 15%;
}
/* item list style end */

/* corner tag directive style start */
.side-corner-tag{
    float: right;
    width: 110px;
    height: 45px;
    position: absolute;
    bottom: 0;
    right: -45px;
    /*use parent font-size*/
    /*font-size: 16px;*/
    text-align: center;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    color: #fff;
    line-height: 45px;
}

.side-corner-tag p{
    margin-top: -5px;
    margin-left: -15px;
}
/* corner tag directive style end */