.introduction{
    font-size: 16px;
}

.item-list{
    height: auto;
    overflow:hidden
}

.corner-tag-block .card-list{
    width: 100%;
    margin: 8px 0;
}

.corner-tag-block .item-block{
    width: 22%;
    height: 220px;
    margin-left: 4%;
    margin-bottom: 20px;
    padding-left: 10px;
    float: left;
    overflow: hidden;
    display: inline-block;
    position: relative;
    text-align: center;
    background-color: #fff;
    border: 1px solid #ededed;
}

.corner-tag-block .item-block.first-col{
    margin-left: 0;
}

.corner-tag-block .item-picture{
    height: 65%;
    position: relative;
}

.corner-tag-block .item-picture img{
    margin: auto;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 60%;
    height: 80%;
}

.corner-tag-block .item-name{
    font-size: 18px;
    height: 20%;
}

.corner-tag-block .item-price{
    font-size: 16px;
    height: 15%;
}

@import "cornerTag.css";