body {
    padding-top: 70px;
    padding-bottom: 30px;
    font-family: "microsoft yahei", "Arial Rounded MT Bold", "Helvetica Rounded", Arial, sans-serif;
    /* fix window shake when scroll appearance */
    margin-left: calc(100vw - 100%);
}

ul,ol{
    list-style-type: none;
}

.errMsg{
    color: #a94442;
}

.clr{
    clear: both;
}

.on-mouse-hand{
    cursor: pointer;
}