body {
    padding-top: 70px;
    padding-bottom: 30px;
    /* fix window shake when scroll appearance */
    margin-left: calc(100vw - 100%);
}

.errMsg{
    color: #a94442;
}

.noDisplay{
    display: none;
}

.clr{
    clear: both;
}

.on-mouse-hand{
    cursor: pointer;
}